.displayAbout1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    align-items: flex-start;
    justify-content: center;
}


.displayAbout2{
    display: flex;
    flex-direction: row;
}

.hola{
    font-weight: 700;
    font-size: 4.063rem;
    color: white;
}

.norman{
    font-weight: 700;
    font-size: 4.063rem;
    background: linear-gradient(180deg, #8DFAFA 22.47%, #379FFF 44.62%, #5E28F8 80.08%, #E463F9 115.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    margin-left: 10px;
}

.diseñadorUi{
    font-weight: 300;
    font-size: 3.125rem;
    color: white;
    width: 60%;
}

.containerTitle{
    display: flex;
    gap: 35px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 200px;
}


/*Descriptions*/

.descriptionsDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: -9%;
    margin-bottom: 100px;
    margin-left: 15%;
    
}

.descrip1{
    color: white;
    font-weight: 700;
    font-size: 1.375rem;
    width: 50%;
    margin-bottom: 20px;
}

.descrip2 {
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
    width: 50%;
    margin-bottom: 20px;
}

.descrip3{
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
    width: 50%;
}

